USE [prueba_josemoya]
GO
/****** Object:  Table [dbo].[ACTIVIDADES]    Script Date: 9/6/2022 11:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDADES](
	[id_actividad] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[actividad] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ACTIVIDADES] PRIMARY KEY CLUSTERED 
(
	[id_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACTIVIDADES] ADD  CONSTRAINT [DF_ACTIVIDADES_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[ACTIVIDADES]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDADES_USUARIOS] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[ACTIVIDADES] CHECK CONSTRAINT [FK_ACTIVIDADES_USUARIOS]
GO
